<div class="login-wrapper">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="login-input login-email" />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
      <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']">The given Email is invalid</div>
    </div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" class="login-input login-password" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">Adgangskode er påkrævet</div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid || loading">{{ loading ? 'Loging in...' : 'Login' }}</button>
  </form>
  <a routerLink="/signup">Create new account?</a>
</div>
