nav {
  box-sizing: border-box;
  width: 100%;
  background-color: lightgoldenrodyellow;
  padding: 10px 5px 5px 5px;
}

main {
  width: 100%;
}

footer {
  width: 100%;
  background-color: slategray;
}
